<widget xmlns = "http://www.w3.org/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.example"
        versionCode = "10"
        version = "1.0.0">
        
        <name>Solo F</name>
        
        <description>
          Mi primera app
        </description>
        
</widget>
